html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    justify-content: center;
    align-items: center;
}

html form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

html form article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

html form article footer span{
    margin-bottom: 5px;
}

img {
    float: left;
    width:  500px;
    height: 500px;
    object-fit: cover;
    border-radius: 2%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}